.card{
    background-color: antiquewhite;
}
#intro {
    background-image: url("http://www.psd-dude.com/tutorials/how-to-make-a-repeating-pattern-in-photoshop/create-repeating-pattern-in-photoshop.jpg");
    height: 100vh;
  }
